.header {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Set min-height to avoid page reflow while session loading */
.signedInStatus {
  display: block;
  min-height: 4rem;
  width: 100%;
}

.loading,
.loaded {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: hidden;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.6rem 1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in;
}

.loading {
  top: -2rem;
  opacity: 0;
}

.signedInText,
.notSignedInText {
  position: absolute;
  padding-top: 0.8rem;
  left: 1rem;
  right: 6.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  z-index: 1;
  line-height: 1.3rem;
}

.signedInText {
  padding-top: 0rem;
  left: 4.6rem;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.button,
.buttonPrimary {
  float: right;
  margin-right: -0.4rem;
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0.7rem 0.8rem;
  position: relative;
  z-index: 10;
  background-color: transparent;
  color: #555;
}

.buttonPrimary {
  background-color: #346df1;
  border-color: #346df1;
  color: #fff !important;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
}

.buttonPrimary:hover {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

.navLogo {
  max-width: 150px;
  height: auto;
}

.nav {
  padding: 1rem;
}

.navItems {
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navItems a {
  text-decoration: none;
}

.navItem {
  display: inline-block;
  margin: 0.5rem 0;
}

.drawer {
  /* drawer takes full size */
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  z-index: 9999;
}

.drawerOverlay {
  /* Take full size */
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  /* User still can see the content of main page */
  background-color: rgba(0, 0, 0, 0.5);

  z-index: -1;
}

.drawerSidebar {
  /* Take full height */
  height: 100%;
  right: 0;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 9999;
  /* Background */
  background-color: #111;
}

.show {
  display: block;
}